# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#fits image file
*.fits

# Build Directories
cbuild/
build/
.kdev4/
mcgpufi_measurement_operator.egg-info/
dist/
mcgpufi_mo.egg-info/

# Regeneratable project files (dev box specific config)
mcgpufi.kdev4
